.all-area {
    background-image: linear-gradient(rgb(3 169 244 / 45%), #cfebf3e8), url(../../assets/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}